<div class="container my-5">
    <ul class="steps">
      <li class="{{cart}}"><a href="/cart">Cart</a></li>
      <li class="{{shipping}}"><a href="/cart/shipping">Shipping Address</a></li>
      <li class="{{payment}}"><a href="#">Payment</a></li>
    </ul>
  </div>