  <!-- Confirm -->
    <section class="jumbotron text-center">
        <div class="container-fluid">
          <h2 class="jumbotron-heading">Confirm Your Payment</h2>
            </div>
      </section>
    <div class="container my-5">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Shipping Address
                    </div>
                    <div class="card-body">
                        <p>Ngo Tam</p>
                        <p>ngotam1899@gmail.com</p>
                        <p>0765002122</p>
                        <p>HCMC</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card h-100">
                    <div class="card-header">
                        Ordered At
                    </div>
                    <div class="card-body">
                        Time
                    </div>
                    <div class="card-header">
                       Payment Method
                    </div>
                    <div class="card-body">
                        COD
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <!-- Content -->
        <div class="row content">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Product</th>
                                <th scope="col">Available</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-right">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                <td>Product Name Dada</td>
                                <td>In stock</td>
                                <td><input class="form-control" type="text" value="1" /></td>
                                <td class="text-right">124,90 €</td>
                                
                            </tr>
                            <tr>
                                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                <td>Product Name Toto</td>
                                <td>In stock</td>
                                <td><input class="form-control" type="text" value="1" /></td>
                                <td class="text-right">33,90 €</td>
                                
                            </tr>
                            <tr>
                                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                <td>Product Name Titi</td>
                                <td>In stock</td>
                                <td><input class="form-control" type="text" value="1" /></td>
                                <td class="text-right">70,00 €</td>
                               
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Sub-Total</td>
                                <td class="text-right">255,90 €</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Shipping</td>
                                <td class="text-right">6,90 €</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right"><strong>346,90 €</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
