<!-- Main Content -->
<section class="jumbotron text-center">
    <div class="container-fluid">
      <h2 class="jumbotron-heading">SEARCH RESULT</h2>
			<p><strong>{{count}}</strong> products were found for query <span class="text-danger">'{{query}}'</span></p>
		</div>
  </section>
  <!-- Main Content -->
  {{>products}}