<!-- Checkout -->
   <section class="jumbotron text-center">
    <div class="container-fluid">
      <h2 class="jumbotron-heading">{{paymentStatus}}</h2>
			<p>{{paymentMessage}}</p>
		</div>
  </section>